<div class="formTest">
  <h1>List Employee</h1>
  <button mat-raised-button color="primary" (click)="addNewEmployee()">
    <mat-icon mat-list-icon>add</mat-icon>New Employee
  </button>

  <p>
    <mat-form-field appearance="fill" style="display:block; border-radius: 55%;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </p>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataEmployee" matSort>

      <ng-container matColumnDef="FullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FullName</th>
        <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
      </ng-container>

      <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let row">{{row.departmentName}}</td>
      </ng-container>

      <ng-container matColumnDef="Salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let row">{{row.salary}}</td>
      </ng-container>

      <ng-container matColumnDef="HireDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>HireDate</th>
        <td mat-cell *matCellDef="let row">{{row.hireDate}}</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 80rem;"></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching with filter "{{input.value}}"</td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="Select page of employees"></mat-paginator>
  </div>
</div>